<div class="card shadow-sm">
  <img [src]="product.thumbnail" class="card-img-top" [alt]="product.model" />
  <div class="card-body">
    <div class="clearfix mb-3">
      <span class="float-start badge rounded-pill bg-primary"> {{ product.title }} </span>
      <span class="float-end price-hp">{{ product.price }}&euro;</span>
    </div>
    <h5 class="card-title"> {{ product.description }} </h5>
    <div class="text-center my-4">
      <a href="#" class="btn btn-warning">Check offer</a>
    </div>
  </div>
</div>
