<div class="card shadow-sm">
  <img [src]="product.thumbnail" class="card-img-top" [alt]="product.model" />
  <div class="card-body">
    <div class="clearfix mb-3">
      <span class="float-start badge rounded-pill bg-primary">
        <ng-container [ngSwitch]="product.weight < 10">
          <ng-container *ngSwitchCase="0">Gadgets</ng-container>
          <ng-container *ngSwitchCase="1">Fragnancy</ng-container>
          <ng-container *ngSwitchDefault>No Category</ng-container>
        </ng-container>
      </span>
      <span class="float-start badge rounded-pill bg-primary">
        @switch (product.category) { @case ('smartphones') { Gadgets } @case
        ('fragrances') { Fragnancy } @default { None } }
      </span>
      <br />
      <span class="float-start">
        {{ product.title }}
      </span>
      <span class="float-end price-hp">{{ product.price }}&euro;</span>
    </div>
    <span>{{ product.rating }}</span>
    <span class="ms-2"> </span>
    <h5 class="card-title">{{ product.description }}</h5>
    <div class="text-center my-4" [appLowstock]="product.stock < 20">
      <a href="#" class="btn btn-warning" (click)="submit()">Check offer</a>
    </div>
  </div>
</div>
